/* === Our Sauces Page === */
.our-sauces-container {
  max-width: 1200px;
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-sauces-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 4.5rem;
  font-weight: 700;
  color: #eea361;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-shadow: 
    1px 1px 0 #aa3a36,
    2px 2px 0 #aa3a36,
    3px 3px 0 #aa3a36;
}

.our-sauces-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.sauce-card {
  border-radius: 12px;
  background-color: #FFF6F3 ;
  box-shadow: 0 2px 12px rgba(0,0,0,0.06);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s;
}
.sauce-card:hover {
  box-shadow: 0 4px 24px #eea361;
}

.sauce-image-wrapper {
  width: 350px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.sauce-image {
  max-width: 90%;
  max-height: 220px;
  object-fit: contain;
}

.sauce-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #1a1a1a;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-align: center;
}
.sauce-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #D97706;
  margin-bottom: 0.7rem;
}
.sauce-description {
  font-size: 1rem;
  color: #444;
  text-align: center;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.our-sauces-loading,
.our-sauces-error {
  text-align: center;
  font-size: 1.3rem;
  color: #888;
  margin-top: 4rem;
}

.sauce-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.sauce-card-link:visited,
.sauce-card-link:active,
.sauce-card-link:hover {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 900px) {
  .our-sauces-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .our-sauces-grid {
    grid-template-columns: 1fr;
  }
} 