.hero {
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/stone.jpg') center center/cover no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
  padding-left: 4rem;
}

.hero-text {
  flex: 3;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #aa3a36;
  margin-bottom: 1rem;
  line-height: 1.1;
  text-shadow: 
    1px 1px 0 #fff,
    2px 2px 0 #fff,
    3px 3px 0 #fff;
}

.hero-subtitle {
  font-size: 2rem;
  color: #000000;
  font-style: italic;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0 0.2em;
}

.hero-subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  height: 0.4em; 
  background: #eea361;
  z-index: -1;
  pointer-events: none;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #0C6667;
  color: #ffffff;
  border: 2px solid #0C6667;
}

.btn-primary:hover {
  background-color: transparent;
  color: #0C6667;
  color: #ffffff;
}

.btn-secondary {
  background-color: transparent;
  color: black;
  border: 2px solid #0C6667;
}

.btn-secondary:hover {
  background-color: #0C6667;
  color: white;
}

.hero-image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 650px;
}

.hero-image img {
  max-width: 100%;
  min-width: 450px;
  height: auto;
  max-height: 1200px;
  object-fit: fill;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Responsive Design */
@media (max-width: 968px) {
  .hero-text h1 {
    font-size: 3.5rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
  }
  .hero-image {
    min-width: 220px;
  }
  .hero-image img {
    min-width: 180px;
    max-height: 400px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
  
  .hero-buttons {
    justify-content: center;
  }
  
  .hero-text h1 {
    font-size: 3rem;
  }
  
  .hero-image {
    min-width: 0;
  }
  .hero-image img {
    min-width: 0;
    max-width: 100%;
    max-height: 300px;
  }
} 